.form-container{
    margin: 7rem 14rem;
    /* border: 0.5px solid lightblue; */
    padding: 3rem;
    box-shadow: 4px 6px 20px 6px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}