.login,
.signup,
.image {
	min-height: 100vh;
}
.bg-image {
	background-image: url("https://image.freepik.com/free-photo/product-package-boxes-shopping-bag-cart-with-laptop-online-shopping-delivery-concept_38716-138.jpg?w=900");
	background-size: cover;
	background-position: center center;
}

.here-link {
	color: #ffc632;
	text-decoration: none;
}

.here-link:visited {
	color: #ffc632;
	text-decoration: none;
}

.here-link:hover {
	color: #ffc632;
	text-decoration: none;
}

.here-link:active {
	color: #ffc632;
	text-decoration: none;
}
