.card{
    border-radius: 30px;
    border: 0.3px solid lightblue;
}

.card:hover{
    top: -30px;
    border: none;
    transform: scale(1.1);
    z-index: 3;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}
